<section id="blogs-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <!-- <div class="section-header">
      <h2>Our Works</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat
        at.
      </p>
    </div> -->

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" fxLayoutGap="30px">
      <div fxFlex="100">
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <h2><strong><a>Deploying AWS Lambdas from the .NET Core Command Line</a></strong></h2>
            <mat-divider class="mb-1"></mat-divider>
            <p>
                5/2/2019
            </p>
            <p>
              It is incredibly simple (and possibly dangerous) to create and update
              Lambda functions from the CLI. The first thing you need to do is install
              the Amazon.Lambda.Tools:
          </p>
          <p>
            <strong>dotnet tool install -g Amazon.Lambda.Tools</strong>
          </p>
          <p>
              Once that is done, make sure the command prompt is running in the same
              directory as your C# code and run this command:
          </p>
          <p>
            <strong>dotnet lambda deploy-function [Function Name] –-function-role [IAM Role]</strong>
          </p>
          <p>
              That’s it, once the above command completes you will have a new Lambda in
              AWS. Running the command a second time will upload a new version. Be
              careful, this could be very dangerous in a production environment.
          </p>
          <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
          <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>         
        </mat-card>
      </div>
      <div fxFlex="100">
          <mat-card class="p-0 m-0">
            <mat-card-content>
              <h2><strong><a>Removing Stored Git Credentials on Windows</a></strong></h2>
              <mat-divider class="mb-1"></mat-divider>
              <p>
                  4/20/2019
              </p>
              <p>
                  I ran into a situation where I needed to connect to a different AWS
                  CodeCommit repository, but making the switch was not as easy as I thought
                  it would have been. The new repository was in the same region as my old
                  repository, which made the git URL the same (
                  <a href="https://git-codecommit.us-east-1.amazonaws.com/">
                      https://git-codecommit.us-east-1.amazonaws.com
                  </a>
                  ).
              </p>
              <p>
                  After several attempts to get Git (see what I did there?) to forget my
                  credentials, none of the command line options worked (e.g.
                  credential.helper manager). I also tried adding the –v flag (e.g. git pull
                  –v) which is supposed to always prompt you for credentials. Well, none of
                  that worked so I did some more searching and found that it was Windows that
                  was holding onto the old repository’s credentials. By navigating t:
              </p>
              <p>
                  Control Panel -&gt; Credential Manager -&gt; Windows Credentials
              </p>
              <p>
                  All I had to do now was remove the git:
                  <a href="https://git-codecommit.us-east-1.amazonaws.com/">
                      https://git-codecommit.us-east-1.amazonaws.com
                  </a>
                  entry and run my pull command again.
              </p>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
            </mat-card-content>         
          </mat-card>
        </div>
      <div fxFlex="100">
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <h2><strong><a>The current .NET SDK does not support targeting .NET Core 2.1. target .NET Core 2.0 or lower or use a vs of the .NET SDK that support NET Core 2.1</a></strong></h2>
            <mat-divider class="mb-1"></mat-divider>
            <p>
              4/16/2019
            </p>
           <p>
              It’s rare when StackOverflow does not have the answer to one of my
              problems, but for some reason it didn’t seem to have the solution that
              worked for me when I got this error. Here is a little background:
            </p>
            <p>
                It had been a while since I created a .NET Core project from scratch and my
                command line was still running 1.1 (even though I had 2.0 installed. Since
                I wanted my new project to use the latest version supported in AWS Lambda,
                I closed the command prompt and installed 2.1. Once it was finished I ran
                this command:
            </p>
            <p>
              <strong>dotnet --version</strong>
            </p>
            <p>
                For some reason, the version still came back as 1.1. I did some searching
                and found that if you added a globl.json file with this data, it would
                force dotnet to use the correct version:
            </p>
            <p>
              <strong>"sdk": "version": "2.1.***"</strong>
            </p>

            <p>
                Running dotnet --version now returned the correct version and I was able to
                create my new project using the command:
            </p>
            <p>
              <strong>dotnet new lambda.SQS --name [Function Name] --profile [IAM Role] --region [AWS Region]</strong>
            </p>
            <p>
                While this created the project without issue, trying to build the project
                in Visual Studio would throw the error in the title. After more searching,
                I finally found that removing the global.json file fixed the issue.
                Apparently it is not needed anymore, because even without it I still get
                back the correct version when running dotnet --version.
            </p> 
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>         
        </mat-card>
      </div>
    </div>
    <div class="text-center home-section-action">
      <button mat-raised-button mat-lg-button color="accent">LOAD MORE</button>
    </div>
  </div>
</section>