.item { 
  .mat-card {
    margin: 0 16px;
    min-height: 550px;
  }
  .mat-card-footer {
    width: 90%;
    margin: 0 16px;
    position:absolute;
    bottom:0;
  }
  .mat-divider {
    position:absolute;
  }
}